<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        a(onclick = 'window.location.href = "/"') back
        h1 form page
        form(action="/student" method="post")
            label name 
            input(type="text", name="")

            label class
            input(type="text", name="")

            button(type="submit") tes