<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Student Data</title>
</head>

<body>
    <h1>Input Student Data</h1>
    <form action="/student" method="post">
        First name:
        <br>
        <input type="text" name="firstName">
        <br> Last name:
        <br>
        <input type="text" name="lastName">
        <br>Email:
        <br>
        <input type="text" name="email">
        <input type="submit" value="Submit">
</body>

</html>