h1= "Student Registration!"
  form(action="/students" method="POST")
    p name:
    input(type="text" name="name" placeholder="")
    p class:
    input(type="text" name="class" placeholder="")
    p email:
    input(type="text" name="email" placeholder="")
    p address:
    input(type="text" name="address" placeholder="")
    input(type="submit")
