<DOCTYPE html>
  <html>
  <head>
    <title>
      Home
    </title>
  </head>
  <body>
    <h1><%= home %></h1>
    <div id= "container">
    <h2><%= paragraph%></h2>
    <li> <a href="/students">Students</a> </li>
    <li> <a href="/teachers">Teachers</a> </li>
    </div>
  </body>
  </html>
