    <html>
    <head>
      <title>
        Hacktiv8
      </title>
    </head>
    <body>
        <h1>Welcome to Hacktiv8</h1>
        <p>Let's submit your data to become our family</p>
      <li><a href='/student-form'>Students</a></li>
      <li><a href="/teachers">Teachers</a></li>
      </div>
    </body>
    </html>