<html>
 <head>
   <title>
     Hacktiv8
   </title>
 </head>
 <body>
     <h1>Welcome to this Page</h1>
   <li><a href='/student-form'>Students</a></li>
   <li><a href="/teacher">Teachers</a></li>
   </div>
 </body>
 </html>
