doctype html
html(lang="en")
  head
    title Welcome to the School of Magic
  body
   h1 Welcome, this is the school of magic web
   p Please choose menu that you want to know more about school of Magic.<br/> This is very interesting enough to know more about you.<br/> Please make some share to your social media.


   a(href='/students') Click here to go to Student FORM
   br


   a(href='/teacher') Click here to go to Teacher table datas
