<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= studentTitle %></title>
</head>
<body>
  <h2><%= studentTitle %></h2>
  <form action='/student' method="post">
    <p>First Name</p>
    <input type="text" name="firstName">
    <p>Last Name</p>
    <input type="text" name="lastName">
    <p>Email</p>
    <input type="text" name="email">
    <input type="submit" value="Submit" id="submitStudent">
  </form>
</body>
</html>