<DOCTYPE html>
  <html>
  <head>
    <title>
      Student Submitted
    </title>
  </head>
  <body>
    <h1><%= Submitted %></h1>
    <div id= "container">
    <h2><%= paragraph%></h2>
    <p><%= displayInput%></p>
    <br>
    <button type="button" name="button"> <a href="/">Back</a></button>
    </div>
  </body>
  </html>
