
doctype html
html(lang="en")
  head
    title Teacher table data
  body
   h1 Teacher table data



Table(style ='padding:20px, margin:20px')
            tr

                th(style = 'border:1px solid #808080') Nama
                th(style = 'border:1px solid #808080') Alamat
                th(style = 'border:1px solid #808080') NIP

            tr
                td(style = 'border:1px solid #808080') Sadikin
                td(style = 'border:1px solid #808080') Semarang
                td(style = 'border:1px solid #808080') 109988188

            tr
                    td(style = 'border:1px solid #808080') SUmantri
                    td(style = 'border:1px solid #808080') jakarta Barat
                    td(style = 'border:1px solid #808080') 099188
