<DOCTYPE html>
<html>
  <head>
    <title>
      Teachers
    </title>
  </head>
    <body>
      <h1><%= titleTeachers %></h1>
      <div id= "container">
        <table style="text-align:center; width: 100%" border = 1>
          <tr>
            <th style="border: 1px solid black">First name</th>
            <th style="border: 1px solid black">Last name</th>
            <th style="border: 1px solid black">Email</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>jSmith@gmail.com</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>Jackson</td>
            <td>eJackson@gmail.com</td>
          </tr>
        </table>
      </div>
      <br>
      <a href="/">Back</a>
    </body>
</html>
