<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        a(onclick = 'window.location.href = "/"') back
        h1 Tabel guru
        table
            tr
                td(style = 'text-align:center;border:1px black solid') tes1
                td(style = 'text-align:center;border:1px black solid') tes2
                td(style = 'text-align:center;border:1px black solid') tes3
            tr
                td(style = 'text-align:center;border:1px black solid') tep
                td(style = 'text-align:center;border:1px black solid') teptep
                td(style = 'text-align:center;border:1px black solid') tepteptep