<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #81d6c8;
}
</style>
</head>
<body>
<h2>Teachers</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
  </tr>
  <tr>
    <td>Windi</td>
    <td>windi@gmail.com</td>
    <td>Query</td>
  </tr>
  <tr>
    <td>Dimitri</td>
    <td>dimitri@yahoo.co.id</td>
    <td>Sequelize</td>
  </tr>
  <tr>
    <td>Rifki</td>
    <td>rifki@yahoo.com</td>
    <td>Database</td>
  </tr>
</table>
</body>
</html>
