<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #81d6c8;
}
</style>
</head>
<body>
<h2>Our Beloved Teachers</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Subject</th>
  </tr>
  <tr>
    <td>Dimitri</td>
    <td>dimitri@mail.com</td>
    <td>Sequelize</td>
  </tr>
  <tr>
    <td>Icha</td>
    <td>icha@mail.com</td>
    <td>Function</td>
  </tr>
  <tr>
    <td>Windi</td>
    <td>windi@mail.com</td>
    <td>Query</td>
  </tr>
  <tr>
    <td>Rifki</td>
    <td>rifki@mail.com</td>
    <td>Database</td>
  </tr>
</table>
<p>If you need any assistance, feel free to contact them.</p>
</body>
</html>

